@model IEnumerable<Sheet>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurriculumNavigation)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.StudentNavigation)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@item.Date.ToString("dd.MM.yyyy")
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CurriculumNavigation.SpecialtyNavigation.Name),
				@Html.DisplayFor(modelItem => item.CurriculumNavigation.SubjectNavigation.Name),
				Course: @Html.DisplayFor(modelItem => item.CurriculumNavigation.Course),
				Semester: @Html.DisplayFor(modelItem => item.CurriculumNavigation.Semester)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StudentNavigation.PersonNavigation.Surname)
				@Html.DisplayFor(modelItem => item.StudentNavigation.PersonNavigation.Name)
				@Html.DisplayFor(modelItem => item.StudentNavigation.PersonNavigation.Middlename)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>