@model StudentsGroup

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
	<h4>StudentsGroup</h4>
	<hr/>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.DateStart)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DateStart)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.DateFinish)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DateFinish)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Course)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Course)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.SpecialtyNavigation)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SpecialtyNavigation.Name)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>